.set-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding-top: 50px;
}


.list-set__btn{
    background-color: white;
    border: #646cff 2px solid;
    color: #646cff;
    border-radius: 10%;
    width: 100px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
}
.list-set__btn:hover,
.list-set__btn:focus{
    background-color: #646cff;
    border: white 2px solid;
    color: white;
}
